API_GATEWAY_PORT=8080

UPSTREAM_SERVICE_URL=http://upstream-mock:3000
UPSTREAM_PORT=3000
UPSTREAM_FAIL_RATE=0.2

FIXED_WINDOW_LIMIT=5
FIXED_WINDOW_DURATION_SECONDS=10

SLIDING_WINDOW_LIMIT=3
SLIDING_WINDOW_DURATION_SECONDS=5

CB_FAILURE_THRESHOLD=3
CB_RESET_TIMEOUT_SECONDS=30
CB_SUCCESS_THRESHOLD_HALF_OPEN=1
